body {
    font-family: 'IM Fell French Canon SC', serif;
    background-image: url("../images/got-background.jpg");
}


h1 {
    font-size: 62px;
    padding: 10px;
}

.navbar {
    background-color:#000000;
    color: #ffffff;

}


/* various headers */
#choose-char {
    display: none;
    font-size: 48px;
}

#vs {
    display: none; 
    font-size: 38px;
}


/* .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;

  } */

#landing-page {
    text-align: center;
    /* background: rgba(172, 167, 167, 0.25); */
    min-height: 100%;
    padding: 5%;
    color: #ffffffce;
    
}

#logo-container {
    padding-top: 5%;
}

#large-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

.character-headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    margin-top: 20px;
}

.character-headshot:hover .image {
    opacity: 0.3;
}

#character-choices {
    /* display: none; */
}

#left-characters {
    left: -150%;
    display:none;
    margin-bottom: 40px;
}

#right-characters {
    right: -150%;
    display: none;
}

#battlefield {
    text-align: center;
    background: rgba(172, 167, 167, 0.25);
    color: #ffffffce;
    display: none;
}

#attack-button {
    display: none;
}
